$color-background: #040F16;
$color-text: #E5E7E6;
$color-indigo-dye: #053C5E;
$color-razzmic-berry: #b05e9d;
$color-orange-red-crayola: #FE5F55;
$color-banana: #D1AC00;

h1{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

body {
    background-color: $color-background;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: $color-text;
}

// .bg-image{
//     background-image: url('../images/bg-image.jpg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     height: 100vh;
//     width: 100vw;
//     position: fixed;
//     top: 0;
//     z-index: -1;
// }

.filter-inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 0;
}

.estimate-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 4rem;
    @media (max-width: 768px) {
        margin: 0.2rem 0;
    }
}

.fruit-input{
    height: 30px;
    min-width: 40px;
    border-radius: 5px;
    border: $color-indigo-dye 2px solid;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.quantity-input{
    width: 109px;
    height: 30px;
    min-width: 40px;
    border-radius: 5px;
    border: $color-indigo-dye 2px solid;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
}

.price-output{
    width: 109px;
    min-height: 131px;
    min-width: 40px;
    background-color: #FFF;
    color: #000;
    border-radius: 5px;
    border: $color-indigo-dye 2px solid;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    padding: 0.2rem;
}

.content-wrapper{
    margin: 1.5rem 2rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: $color-indigo-dye 2px solid;
    overflow-wrap: break-word;
    table-layout: fixed;
}

th {
    border: $color-indigo-dye 2px solid;
    overflow-wrap: break-word;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
}

td {
    border: $color-indigo-dye 2px solid;
    overflow-wrap: break-word;
    padding-left: 4px;
    padding-right: 4px;
}

thead {
    background-color: $color-indigo-dye;
    color: $color-text;
}

#zeni {
    color: $color-razzmic-berry;
}

#vasani {
    color: $color-orange-red-crayola;
}

.highlight {
    background-color: $color-banana;
    color: #000;
    font-weight: bold;
}

.up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid black;
    position: absolute;
    top: 4px;
    right: 2px;
    cursor: pointer;

    &:hover {
        border-bottom: 8px solid $color-banana;
    }
}

.down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid black;
    position: absolute;
    right: 2px;
    top: 14px;
    cursor: pointer;

    &:hover {
        border-top: 8px solid $color-banana;
    }
}

.fruit-preview {
    border-radius: 20px;
    border: transparent 2px solid;
    height: 200px; width: fit-content;
    cursor: pointer;
    &:hover {
        border: $color-text 4px solid;
    }
    @media (max-width: 1125px) {
        transform: scale(0.8) translateX(-40%);
    }
    @media (max-width: 768px) {
        transform: scale(0.6) translateX(-50%);
    }   
    @media (max-width: 625px) {
        transform: scale(0.6) translateX(-70%);
    }     
    @media (max-width: 552px) {
        transform: scale(0.5) translateX(-80%);
    }
}

.dataRow{
    cursor: pointer;
}

.banana{
    background-color: $color-banana;
    color: #000;
    font-weight: bold;
    padding-inline: 2px;
}

.info{
    font-weight: bold;
    background-color: black;
    margin: -0.4rem;
    padding: 0.4rem;
    min-width: fit-content;
    min-height: fit-content;
    border-radius: 20px;
    border-right: $color-orange-red-crayola 2px solid;
    border-top: $color-razzmic-berry 2px solid;
    border-bottom: $color-orange-red-crayola 2px solid;
    border-left: $color-razzmic-berry 2px solid;
    
    @media (max-width: 625px) {
        visibility: hidden;
    }
}

#image-heading{
    @media (max-width: 1125px) {
        display: none;
    }
    @media (max-width: 768px) {
        display: none;
    }
    
}