h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #001858; }

body {
  background-color: #fef6e4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #172c66; }

.filter-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem 0; }

.estimate-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem 0; }
  @media (max-width: 768px) {
    .estimate-wrapper {
      margin: 0.2rem 0; } }

.fruit-input {
  height: 30px;
  min-width: 40px;
  border-radius: 5px;
  border: #8bd3dd 2px solid;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  cursor: pointer; }

.quantity-input {
  width: 109px;
  height: 30px;
  min-width: 40px;
  border-radius: 5px;
  border: #8bd3dd 2px solid;
  text-align: right;
  font-size: 1rem;
  font-weight: bold;
  outline: none; }

.price-output {
  width: 220px;
  min-width: 40px;
  background-color: #f3d2c1;
  color: #FFF;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.output-labels {
  padding: 0.2rem;
  color: #001858;
  flex: 1 0 49%;
  font-weight: bold; }

.calculated-output {
  color: #172c66; }

.total-output {
  background-color: #f582ae;
  color: #fef6e4;
  padding: 0.2rem;
  border-radius: 1px; }

.content-wrapper {
  margin: 1.5rem 2rem; }

table {
  border-collapse: collapse;
  width: 100%;
  border: #001858 2px solid;
  overflow-wrap: break-word;
  table-layout: fixed; }

th {
  border: #f3d2c1 2px solid;
  border-radius: 5px;
  overflow-wrap: break-word;
  padding-left: 4px;
  padding-right: 4px;
  position: relative; }

td {
  border: #f3d2c1 2px solid;
  overflow-wrap: break-word;
  padding-left: 4px;
  padding-right: 4px; }

thead {
  background-color: #f582ae;
  color: #fef6e4; }

#zeni {
  color: #b05e9d;
  font-weight: bold; }

#vasani {
  color: #FE5F55;
  font-weight: bold; }

.highlight {
  background-color: #8bd3dd;
  color: #001858;
  font-weight: bold; }

.up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid black;
  position: absolute;
  top: 4px;
  right: 2px;
  cursor: pointer; }
  .up:hover {
    border-bottom: 8px solid #8bd3dd; }

.down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
  position: absolute;
  right: 2px;
  top: 14px;
  cursor: pointer; }
  .down:hover {
    border-top: 8px solid #8bd3dd; }

.fruit-preview {
  border-radius: 20px;
  border: transparent 2px solid;
  height: 200px;
  width: fit-content;
  cursor: pointer; }
  .fruit-preview:hover {
    border: #172c66 4px solid; }
  @media (max-width: 1125px) {
    .fruit-preview {
      transform: scale(0.8) translateX(-40%); } }
  @media (max-width: 768px) {
    .fruit-preview {
      transform: scale(0.6) translateX(-50%); } }
  @media (max-width: 625px) {
    .fruit-preview {
      transform: scale(0.6) translateX(-70%); } }
  @media (max-width: 552px) {
    .fruit-preview {
      transform: scale(0.5) translateX(-80%); } }

.dataRow {
  cursor: pointer; }

.banana {
  background-color: #8bd3dd;
  color: #000;
  font-weight: bold;
  padding-inline: 2px; }

.info {
  font-weight: bold;
  background-color: black;
  margin: -0.4rem;
  padding: 0.4rem;
  min-width: fit-content;
  min-height: fit-content;
  border-radius: 20px;
  border: #172c66 2px solid; }
  @media (max-width: 625px) {
    .info {
      visibility: hidden; } }

@media (max-width: 1125px) {
  #image-heading {
    display: none; } }

@media (max-width: 768px) {
  #image-heading {
    display: none; } }
